h1 {
    color: red;
}
p {
    color: powderblue;
    font-size: 25px;
}
body {
    background-image:url('/test/media/image.jpg');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;
}