.game{
    width: 500px;
    height: 500px;
    background-color: lightsteelblue;
    border: 2px dotted black;
    margin: 20px;
}
.box{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: inline-block;
}
.player{
    transform: translateY(200px);
    background-color: blue;
}
.enemy{
    margin-left: 100px;
    background-color: orangered;
    transition-timing-function: linear;
    animation-name: bounce;
    animation-iteration-count: infinite;
}
.enemy.one{
    animation-duration: 2s; 
}
@keyframes  bounce{
    50%{
        transform: translateY(450px);
    }
}
