.machine{
    height: 300px;
    width: 900px;
    background-color: brown;
    margin: 50px;

    display: flex;
}

.slot{
    overflow: hidden;
    height: 250px;
    width: 250px;
    margin: 25px;
    background-color: beige;
    text-align: center;
    line-height: 250px;
    font-size: 120px;
}
.slot > .value { 
    display: inline-block;
    animation-name: spinslot;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
 @keyframes spinslot{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(200px);
    }
}